<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TestDataGenerator</display-name>
  <welcome-file-list>
    <welcome-file>redirect.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>controlServlet</servlet-name>
    <servlet-class>com.tdg.TestDataGeneratorServlet</servlet-class>
    <init-param>
      <param-name>TDGProperties</param-name>
      <param-value>/WEB-INF/TDGProperties.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>controlServlet</servlet-name>
    <url-pattern>/controlServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectorServlet</display-name>
    <servlet-name>RedirectorServlet</servlet-name>
    <servlet-class>com.tdg.RedirectorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectorServlet</servlet-name>
    <url-pattern>/RedirectorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeController</display-name>
    <servlet-name>WelcomeController</servlet-name>
    <servlet-class>com.tdg.WelcomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeController</servlet-name>
    <url-pattern>/WelcomeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BulkProfileLoadController</display-name>
    <servlet-name>BulkProfileLoadController</servlet-name>
    <servlet-class>com.tdg.BulkProfileLoadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BulkProfileLoadController</servlet-name>
    <url-pattern>/BulkProfileLoadController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveProfileServlet</display-name>
    <servlet-name>SaveProfileServlet</servlet-name>
    <servlet-class>com.tdg.SaveProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveProfileServlet</servlet-name>
    <url-pattern>/SaveProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BulkProfileProcessor</display-name>
    <servlet-name>BulkProfileProcessor</servlet-name>
    <servlet-class>com.tdg.BulkProfileProcessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BulkProfileProcessor</servlet-name>
    <url-pattern>/BulkProfileProcessor</url-pattern>
  </servlet-mapping>
</web-app>